<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head><title>Ask google!</title>
<link rel="stylesheet" href = "/static/css/pure-min.css">
</head>


<body>
  <h1><center>Ask GOOGLE, our most holy Lord and Saviour, any question you desire, as long as thou useth the queries "Who" or "When"</center></h1><br>  
  <center>
  <form method="POST" class = "pure-form" action ="{{ url_for('data') }}">
    <input name="query" type="text">
    <br>
    <input name="done" value = "Send your prayer" class="pure-button" type="submit">
    <br>
    Example: Who is Spiderman?
  </center>
  </form>
</body>


</html>
